<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">
            Pokédex
        </a>
    </div>
</nav>
<!-- <input #input (keyup.enter)="selectPokemon(input.value)" type="number" /> -->
<!-- <p (click)="selectPokemon(pokemonList[0])">{{ pokemonList[0].name }}</p> -->
<!-- <p *ngIf="pokemonSelected">Vous avez sélectionné {{pokemonSelected.name}}</p>
<p *ngIf="!pokemonSelected">Vous avez demandé un pokemon non répertorié</p> -->


<router-outlet></router-outlet>